Source: furios-meta
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Section: metapackages
Priority: required
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/furilabs/furios-meta
Vcs-Git: https://github.com/furilabs/furios-meta.git

Package: furios-base
Architecture: all
Depends: ${misc:Depends},
         alsa-utils,
         apt-utils,
         ca-certificates,
         systemd-timesyncd,
         console-data,
         console-setup,
         f2fs-tools,
         lvm2,
         cryptsetup,
         crypted,
         file,
         kbd,
         locales,
         locales-all,
         libcanberra-pulse,
         libnss-myhostname,
         libnss-systemd,
         libpam-cap,
         bash-completion,
         gawk,
         nano,
         sudo,
         wget,
         unzip,
         xz-utils,
         bluetooth,
         dnsmasq-base,
         iw,
         network-manager,
         pulseaudio-module-bluetooth,
         net-tools,
         iputils-ping,
         rfkill,
         wireless-tools,
         wpasupplicant,
         callaudiod,
         runonce,
         systemd-resolved,
         furios-quirks-brightness,
         furios-quirks-hostname,
         furios-quirks-waydroid,
         furios-quirks-systemd,
         furios-quirks-journald-standard | furios-quirks-journald-development,
         furios-branding,
         furios-apt-config,
         furios-archive-keyring,
         furios-quirks-polkit,
         batman,
         batman-nicerdicer,
         nfcd,
         nfcd-binder-plugin,
         nfcd-batman-plugin,
         libgbinder-tools,
         cups,
         biomd,
         dialog,
         mtp-server,
         bluez-obexd,
         obex-capabilities,
         flatpak,
         plymouth,
         plymouth-theme-furios,
         xdg-utils,
         dex,
         droidcam2v4l2,
         exfatprogs,
         pkexec,
         irqbalance,
         aptkit,
         lmkd,
         upower,
Essential: yes
Description: FuriOS metapackages - base
 This metapackage depends on a bunch of essential
 packages for the FuriOS installation.

Package: furios-phosh-minimal
Architecture: all
Depends: ${misc:Depends},
         furios-base (= ${binary:Version}),
         furios-default-settings,
         furios-device-config,
         adaptation-hybris-phosh,
         chatty,
         at-spi2-core,
         fonts-noto,
         fonts-noto-cjk,
         fonts-noto-color-emoji,
         fonts-noto-mono,
         fonts-noto-ui-core,
         fonts-cantarell,
         wayland-protocols,
         xdg-desktop-portal-gtk,
         xdg-desktop-portal-phosh,
         libcanberra-gtk3-module,
         phosh-core,
         phosh-osk-stevia,
         gnome-accessibility-themes,
         gnome-themes-extra-data,
         furios-quirks-wayland,
         furios-quirks-gnome,
         furios-quirks-keyring,
         furios-quirks-pwquality,
         furios-quirks-osk,
         furios-phosh-plugins,
Essential: yes
Description: FuriOS metapackages - minimal phosh environment
 This metapackage depends on a bunch of essential
 packages for the FuriOS installation with
 the phosh mobile shell.

Package: furios-phosh-phone
Architecture: all
Depends: ${misc:Depends},
         furios-phosh-minimal (= ${binary:Version}),
         phosh-phone,
         mobile-broadband-provider-info,
         device-chassis-handset,
Essential: yes
Description: FuriOS metapackages - addons for mobile phones
 This metapackage depends on a bunch of packages that
 make phone-related stuff work.

Package: furios-phosh-full
Architecture: all
Depends: ${misc:Depends},
         furios-phosh-minimal (= ${binary:Version}),
         phosh-full,
         geary,
         papers,
         file-roller,
         gnome-text-editor,
         gnome-calculator,
         gnome-calendar,
         gnome-maps,
         gnome-software,
         gnome-software-plugin-aptkit,
         gnome-usage,
         gnome-console,
         gnome-weather,
         phosh-plugins,
         phosh-mobile-settings,
         portfolio-filemanager,
         loupe,
         furios-firefox-tweaks,
         celluloid,
         gapless,
         getcutout,
         nfcd-tools,
         fwupd,
         rygel,
         pqcli,
         gsd-adapter,
         pqdbus,
         biomd-fprintd,
         furios-initial-setup,
         gstreamer1.0-gtk3,
         gstreamer1.0-gl,
         gesture-sensors,
         furios-app-stktool,
         furios-app-gallery,
         furios-camera,
         sound-theme-phosh,
         breeze-icon-theme,
         kf6-breeze-icon-theme,
Essential: yes
Description: FuriOS metapackages - full phosh environment
 This metapackage depends on a bunch of packages that make
 the phosh mobile shell more complete.

Package: furios-devtools
Architecture: all
Depends: ${misc:Depends},
         openssh-server,
         pciutils,
         git,
         ifupdown,
         strace,
         gdb,
         wlr-randr,
         screen,
         libinput-tools,
         evtest,
         systemd-coredump,
         aptitude,
         furios-quirks-journald-development,
         furios-quirks-devtools,
         psmisc,
         psutils,
         inxi,
         dbus-x11,
         htop,
         curl,
         gstreamer1.0-tools,
         fakeroot,
         ncdu,
         libnotify-bin,
         furios-app-branchy,
         tmux,
Description: FuriOS metapackages - devtools
 This metapackage depends on a bunch of packages that
 aid development and building ports.

Package: furios-buildtools
Architecture: all
Depends: ${misc:Depends},
         furios-devtools (= ${binary:Version}),
         releng-tools,
         build-essential,
         debhelper,
         meson,
         valac,
         pkg-config,
         cmake,
Description: FuriOS metapackages - buildtools
 This metapackage depends on a bunch of packages that
 aid building other packages.

Package: furios-extras
Architecture: all
Depends: ${misc:Depends},
         webext-ublock-origin-firefox,
         fonts-crosextra-caladea,
         fonts-crosextra-carlito,
         network-manager-openvpn-gnome,
         network-manager-l2tp-gnome,
         network-manager-pptp-gnome,
         network-manager-sstp,
         network-manager-vpnc-gnome,
         adwaita-qt,
         chromium-sandbox,
         libtcl8.6,
         libtk8.6,
         qt6-wayland,
         qtwayland5,
         libqt5gui5-gles,
         libqt6gui6-gles,
         qt5-text-input-v3,
         qt6-text-input-v3,
         andromeda,
         store-provider,
         gnome-software-plugin-flatpak,
         gnome-software-plugin-deb,
         gnome-software-plugin-android,
         gnome-software-plugin-openstore,
         qml-module-qtquick-localstorage,
         qgnomeplatform-qt5,
         qgnomeplatform-qt6,
Description: FuriOS metapackages - extras
 This metapackage depends on a bunch of packages that
 improve user experience
